<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Welcome</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/projects">Projects</a>
          <a class="nav-link" href="/contact">Contact</a>
        </nav>
      </div>
    </header>
  
    <main class="px-3">
      <h1>Anastasios Karameros</h1>
      <p class="lead">Passionate web developer for fun. Experience building with ReactJS, Angular, Firebase, and many other awesome libraries and frameworks. Front End, Back End, Databases.</p>
      <p class="lead"><strong>Web-based solutions. Full Stack.<br> No need to turn back.</strong></p>
      <p class="lead">
        <a href="/about" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more 》</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50">
      <p></p>
    </footer>
  </div>
  </body>